{% extends 'base.html' %}
{% load static %}

{% block title %} Создать расход {% endblock title %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class=" g-4">
            <div class="col-sm-12">
                <div class="row bg-light rounded mb-3 p-2">


                    <div class="p-3 bg-light ">
                        <table class="table table-striped mt-3 text-center">
                            <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Тип</th>
                                <th scope="col">Из склада</th>
                                <th scope="col">В склад</th>
                                <th scope="col">Примечания</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ incoming.data }}</td>
                                <td>{{ incoming.incoming_type }}</td>
                                <td>{{ incoming.from_warehouse }}</td>
                                <td>{{ incoming.warehouse }}</td>
                                <td>{{ incoming.note }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Таблица для отображения деталей заказа -->
                <div class="row p-3 bg-light rounded">
                    <div style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-striped mt-3 text-center">
                            <thead>
                            <tr>
                                <th scope="col">Материал</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Примечание</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for material in incoming_materials %}
                                <tr> <!-- Открываем новую строку -->
                                    <td>{{ material.material }}</td>
                                    <td>{{ material.amount }}</td>
                                    <td>{{ material.comment }}</td>
                                </tr> <!-- Закрываем строку -->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block dashboard %}
    {% endblock %}


{% endblock %}
