{% extends 'base.html' %}
{% load static %}

{% block title %} Список складов {% endblock title %}

{% block content %}

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Склады</h6>
                    <hr>

                    <!-- Search -->
                    <div class="row mb-2">
                        <div class="col-md-6">
                            {% include 'search_form.html' %}
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-primary" id="openCreateModalBtn"
                                    data-bs-toggle="modal" data-bs-target="#myModalCreate"
                                    data-action-url="{% url 'info:warehouse-list' %}">Создать
                            </button>
                        </div>
                    </div>


                    <!--  Modal -->
                    {% include 'modal_template.html' %}

                    <!--  Table -->

                    <table class="table table-striped">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">Код</th>
                            <th scope="col">Названия</th>
                            <th scope="col">Может приходовать</th>
                            <th scope="col">Может расходовать</th>
                            <th scope="col">Менежеры</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for warehouse in items %}
                            <tr class="text-center">
                                <td>{{ warehouse.code }}</td>
                                <td>{{ warehouse.name }}</td>
                                <td>
                                    {% if warehouse.can_import %}
                                        <i class="fa fa-check-square fa-lg"></i>
                                    {% else %}
                                        <i class="fa fa-times-circle fa-lg"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if warehouse.can_export %}
                                        <i class="fa fa-check-square fa-lg"></i>
                                    {% else %}
                                        <i class="fa fa-times-circle fa-lg"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {% for manager in warehouse.managers.all %}
                                        {{ manager.get_full_name }}
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="" type="button" class="btn btn-primary btn-sm"><i
                                            class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                    <!-- Pagination start -->
                    {% include 'pagination.html' with items=items %}
                    <!-- Pagination end -->

                </div>
            </div>
        </div>
    </div>

    <!-- Table End -->

    {% block dashboard %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            $('#myModal').on('show.bs.modal', function () {
                $('#myModalForm')[0].reset();

                $('#name').val('Значение по умолчанию');
            });

            $('#openModalBtn').click(function () {
                $('#myModal').modal('show');
            });
        });

    </script>

{% endblock %}
