{% extends 'base.html' %}
{% load static %}

{% block title %} Список заказов {% endblock title %}

{% block content %}

    <div class="container-fluid pt-4">
        <div class="row g-4">
            <div class="col-md-12">
                <div class="bg-light rounded p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="">Заказы</h6>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end mb-3">
                            <a href="{% url 'production:box-order-create' %}" class="btn btn-primary">Создать</a>
                        </div>
                        <hr>
                    </div>


                    <!-- Search -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <form class="d-flex">
                                <input type="search" name="search" class="form-control me-2"
                                       placeholder="Поиск">
                                <button type="submit" class="btn btn-outline-primary">Найти</button>
                            </form>
                        </div>
                        <div class="col-md-6 text-end">
                            <form id="status-form" method="GET" action="{% url 'production:box-order-list' %}">
                                <select id="status-filter" name="status" class="form-select">
                                    <option value="all" {% if selected_status == 'all' %} selected {% endif %}>Все
                                    </option>
                                    <option value="{{ BoxOrder.BoxOrderStatus.NEW }}"
                                            {% if selected_status == BoxOrder.BoxOrderStatus.NEW %}
                                            selected {% endif %}>Новые
                                    </option>
                                    <option value="{{ BoxOrder.BoxOrderStatus.ACCEPT }}"
                                            {% if selected_status == BoxOrder.BoxOrderStatus.ACCEPT %}
                                            selected {% endif %}>Одобренные
                                    </option>
                                    <option value="{{ BoxOrder.BoxOrderStatus.REJECT }}"
                                            {% if selected_status == BoxOrder.BoxOrderStatus.REJECT %}
                                            selected {% endif %}>Отклоненные
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Заказчик</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Тип заказа</th>
                                <th scope="col">Менеджер</th>
                                <th scope="col">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for box_order in box_orders %}
                                <tr>
                                    <td>{{ box_order.id }}</td>
                                    <td>{{ box_order.customer }}</td>
                                    <td>{{ box_order.data }}</td>
                                    <td>{{ box_order.status }}</td>
                                    <td>{{ box_order.type_order }}</td>
                                    <td>{{ box_order.manager }}</td>
                                    <td>
                                        <a href="{% url 'production:box-order-detail' box_order.pk %}"
                                           class="btn btn-primary btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            {% if box_orders.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo; В начало</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ box_orders.previous_page_number }}">Пред</a>
                                </li>
                            {% endif %}

                            {% for i in box_orders.paginator.page_range %}
                                <li class="page-item {% if i == box_orders.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if box_orders.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ box_orders.next_page_number }}">След</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ box_orders.paginator.num_pages }}">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block dashboard %}
{% endblock %}

<script>
    // Получаем текущее значение статуса из URL
    var urlParams = new URLSearchParams(window.location.search);
    var selectedStatus = urlParams.get('status');

    // Устанавливаем выбранное значение статуса в форме
    if (selectedStatus) {
        document.getElementById('status-filter').value = selectedStatus;
    }

    // Отправляем форму при изменении значения
    document.getElementById('status-filter').addEventListener('change', function () {
        document.getElementById('status-form').submit();
    });
</script>
