{% extends 'base.html' %}
{% load static %}

{% block title %} Список заказов {% endblock title %}

{% block content %}

    <div class="container-fluid pt-4">
        <div class="row g-4">
            <div class="col-md-12">
                <div class="bg-light rounded p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="">Заказы</h6>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end mb-3">
                            <a href="{% url 'production:box-order-create' %}" class="btn btn-primary">Создать</a>
                        </div>
                        <hr>
                    </div>

                    <!-- Search -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <form class="d-flex">
                                <input type="search" name="search" class="form-control me-2" placeholder="Поиск">
                                <button type="submit" class="btn btn-outline-primary">Найти</button>
                            </form>
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="row">
                                <div class="col-md-6">
                                    <form id="status-form" method="GET" action="{% url 'production:box-order-list' %}">
                                        <select id="status-filter" name="status" class="form-select">
                                            <option value="all" {% if selected_status == 'all' %} selected {% endif %}>
                                                Все
                                            </option>
                                            <option value="НОВАЯ" {% if selected_status == 'НОВАЯ' %} selected {% endif %}>
                                                Новые
                                            </option>
                                            <option value="Одобрено" {% if selected_status == 'Одобрено' %} selected {% endif %}>
                                                Одобренные
                                            </option>
                                            <option value="Отклонено" {% if selected_status == 'Отклонено' %} selected {% endif %}>
                                                Отклоненные
                                            </option>
                                        </select>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form id="type_order-form" method="GET" action="{% url 'production:box-order-list' %}">
                                        <select id="type_order-filter" name="type_order" class="form-select">
                                            <option value="all" {% if selected_type_order == 'all' %} selected {% endif %}>
                                                Все
                                            </option>
                                            <option value="Образец" {% if selected_type_order == 'Образец' %} selected {% endif %}>
                                                Образец
                                            </option>
                                            <option value="Экспорт" {% if selected_type_order == 'Экспорт' %} selected {% endif %}>
                                                Экспорт
                                            </option>
                                            <option value="Внутренный рынок" {% if selected_type_order == 'Внутренный рынок' %} selected {% endif %}>
                                                Внутренный рынок
                                            </option>
                                            <option value="Услуга" {% if selected_type_order == 'Услуга' %} selected {% endif %}>
                                                Услуга
                                            </option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Заказчик</th>
                                    <th scope="col">Покупатель</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Тип заказа</th>
                                    <th scope="col">Менеджер</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for box_order in box_orders %}
                                    <tr>
                                        <td>{{ box_order.id }}</td>
                                        <td>{{ box_order.customer }}</td>
                                        <td>{{ box_order.buyer }}</td>
                                        <td>{{ box_order.data }}</td>
                                        <td>{{ box_order.status }}</td>
                                        <td>{{ box_order.type_order }}</td>
                                        <td>{{ box_order.manager }}</td>
                                        <td>
                                            <a href="{% url 'production:box-order-detail' box_order.pk %}" class="btn btn-primary btn-sm">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a href="{% url 'production:generate_box_order_pdf' box_order.pk %}" class="btn btn-primary btn-sm">
                                                <i class="bi bi-file-earmark-arrow-down"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination start -->
                    {% include 'base/pagination.html' with items=items %}
                    <!-- Pagination end -->

                </div>
            </div>
        </div>
    </div>

    {% block dashboard %}
    {% endblock %}

    <script>
        document.getElementById('status-filter').addEventListener('change', function () {
            const statusForm = document.getElementById('status-form');
            const typeOrderFilter = document.getElementById('type_order-filter');
            const statusInput = document.createElement('input');

            statusInput.type = 'hidden';
            statusInput.name = 'type_order';
            statusInput.value = typeOrderFilter.value;

            statusForm.appendChild(statusInput);
            statusForm.submit();
        });

        document.getElementById('type_order-filter').addEventListener('change', function () {
            const typeOrderForm = document.getElementById('type_order-form');
            const statusFilter = document.getElementById('status-filter');
            const statusInput = document.createElement('input');

            statusInput.type = 'hidden';
            statusInput.name = 'status';
            statusInput.value = statusFilter.value;

            typeOrderForm.appendChild(statusInput);
            typeOrderForm.submit();
        });
    </script>

{% endblock %}
