{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="mb-4">Создание заказа</h6>
                        </div>

                        <div class="col-md-6">
                            <button type="submit" form="id_form" class="btn btn-primary">Создать</button>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <form id="id_form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </form>
                        <button type="button" class="btn btn-primary btn-sm mb-3" id="openCreateModalBtn"
                                data-bs-toggle="modal"
                                data-bs-target="#myModalCreate">Добавить деталь заказа
                        </button>
                    </div>

                    <!--  Modal -->
                    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabelCreate">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabelCreate">Деталь заказа</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="myModalCreateForm" method="post"
                                          action="{% url 'create_order_details' %}">
                                        {% csrf_token %}
                                        {{ order_detail_formset.management_form }}
                                        <div id="formset-container">
                                            {{ order_detail_formset.as_p }}
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="createOrderBtn">Создать
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Table -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Модель коробки</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody id="order_details_table">
                        <tr>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    {% block dashboard %}
    {% endblock %}

    <script>
        // JavaScript code
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#myModalCreateForm').addEventListener('submit', function (event) {
                event.preventDefault();

                let formData = new FormData(this);

                // Dobavlyaem polya dlya BoxOrderDetailFormSet
                formData.append('boxorderdetail_set-TOTAL_FORMS', '{{ order_detail_formset.total_form_count }}');
                formData.append('boxorderdetail_set-INITIAL_FORMS', '{{ order_detail_formset.initial_form_count }}');
                formData.append('boxorderdetail_set-MIN_NUM_FORMS', '{{ order_detail_formset.min_num_forms }}');
                formData.append('boxorderdetail_set-MAX_NUM_FORMS', '{{ order_detail_formset.max_num_forms }}');

                fetch(this.action, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: formData,
                    dataType: 'json'
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        let boxModel = formData.get('boxorderdetail_set-0-box_model');
                        let amount = formData.get('boxorderdetail_set-0-amount');

                        let newRow = '<tr>' +
                            '<td>' + boxModel + '</td>' +
                            '<td>' + amount + '</td>' +
                            '<td>' +
                            '<a href="" type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>' +
                            '</td>' +
                            '</tr>';

                        $('#order_details_table').append(newRow);

                        $('#myModalCreate').modal('hide');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
{% endblock %}
