{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="">
                    <div class="row bg-light rounded mb-3 p-2">
                        <div class="row ">
                            <div class="col-md-6 ">
                                <h6 class="mb-4">Создание заказа</h6>
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="submit" form="id_form" class="btn btn-success w-30 mb-3">Создать Заказ
                                </button>
                            </div>
                            <hr>
                        </div>

                        <div class="row  rounded ">
                            <form id="id_form" method="post" class="form-inline">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        {{ form.customer }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.type_order }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.specification }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form.date_of_production }}
                                    </div>
                                </div>
                                <!-- Скрытые поля для хранения данных о деталях заказа -->
                                <input type="hidden" name="box_model_1" id="box_model_1">
                                <input type="hidden" name="amount_1" id="amount_1">
                                <!-- Дополнительные скрытые поля для других деталей заказа -->
                            </form>
                        </div>
                    </div>
                    <!-- Модальное окно для создания детали заказа -->
                    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabelCreate">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabelCreate">Деталь заказа</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="myModalCreateForm">
                                        <div class="mb-3">
                                            <label for="box_model">Модель коробки</label>
                                            {% for form in order_detail_formset %}
                                                {{ form.box_model }}
                                                {{ form.amount }}
                                            {% endfor %}
                                        </div>
                                        <!-- Добавляем скрытое поле с идентификатором заказа -->
                                        <input type="hidden" name="order_id" value="{{ order.id }}">
                                        <button type="button" class="btn btn-primary" id="addDetailBtn">Добавить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Таблица для отображения деталей заказа -->
                    <div class="row p-3 bg-light rounded">
                        <button type="button" class="btn btn-primary btn-sm " id="openCreateModalBtn"
                                data-bs-toggle="modal"
                                data-bs-target="#myModalCreate">Добавить
                        </button>

                        <table class="table table-striped  mt-3" style="min-height: 550px;">
                            <thead class="p-3">
                            <tr>
                                <th scope="col">Модель коробки</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Действия</th>
                            </tr>
                            </thead>
                            <tbody id="order_details_table">
                            <!-- Сюда будут добавляться детали заказа динамически -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block dashboard %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let orderId;

            document.getElementById('addDetailBtn').addEventListener('click', function () {
                let boxModel = document.getElementById('box_model').value;
                let amount = document.getElementById('amount').value;

                let boxModelFieldName = 'box_model_' + (document.querySelectorAll('.box_model').length + 1);
                let amountFieldName = 'amount_' + (document.querySelectorAll('.amount').length + 1);

                let boxModelField = '<input type="hidden" name="' + boxModelFieldName + '" class="box_model" value="' + boxModel + '">';
                let amountField = '<input type="hidden" name="' + amountFieldName + '" class="amount" value="' + amount + '">';

                document.getElementById('id_form').insertAdjacentHTML('beforeend', boxModelField);
                document.getElementById('id_form').insertAdjacentHTML('beforeend', amountField);

                let newRow = '<tr>' +
                    '<td>' + boxModel + '</td>' +
                    '<td>' + amount + '</td>' +
                    '<td>' +
                    '<a href="" type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>' +
                    '</td>' +
                    '</tr>';
                document.getElementById('order_details_table').insertAdjacentHTML('beforeend', newRow);

                document.getElementById('box_model').value = '';
                document.getElementById('amount').value = '';

                $('#myModalCreate').modal('hide');
            });

            document.getElementById('id_form').addEventListener('submit', function (event) {
                event.preventDefault();

                let formData = new FormData(this);
                let orderDetails = document.querySelectorAll('.box_model, .amount');

                // Loop through each detail field and append its data to the formData
                orderDetails.forEach(function (detail) {
                    formData.append(detail.name, detail.value);
                });

                fetch('{% url "box-order-create" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        } else {
                            window.location.href = '{% url "box-order-list" %}';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>




{% endblock %}
